:root{
    --font-1: "Press Start 2P", system-ui ;
    --font-2: "Albert Sans", sans-serif;
    --black-: #333;
    --red-: #bc3a3a;
    --white-: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

body {
    font-family: var(--font-1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url(img/08debf74-c78d-4af6-860e-0f266f4a3d65.png);
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center; 

}

header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

h1 {
    font-size: 1.5em;
    color: var(--white-);
    text-transform: uppercase;
    padding: 1em 0 0 0;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.form-container {
    background-color: var(--white-);
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%; 
    text-align: center;
    justify-content: center;
    align-items: center;
}


.name-revolution, .chef-revolution {
    margin-bottom: 15px; 
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--black-);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 0px;
}

.description-container {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    background-color: #f4f4f4;
    border-radius: 5px;
    display: none; 
    font-family: var(--font-2);
    color: var(--black-);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute; 
    z-index: 10;
    top: 5em;
    left: 50%;
    transform: translateX(-50%); 
    width: 80%;
}

.image-selector {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.image-selector input[type="radio"] {
    display: none;
}

.image-selector label {
    cursor: pointer;
    position: relative;
    text-align: center;
    width: 30%;
    display: inline-block;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}



.chef-image {
    width: 90px;
    height: auto;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.chef-image:hover {
    transform: scale(1.5);
}

.image-selector input[type="radio"]:checked + label .chef-image {
    transform: scale(1.3);
}

.text{
    font-family: var(--font-2);
    margin: 10px;
}

.container{
    width: 70%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    color: var(--white-);
    background-color: var(--red-);
    padding: 15px 40px 15px 40px;
    margin: 10px;
    border: 0;
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;
    cursor: pointer;
    width: 100%;
    font-family: var(--font-2);
    font-size: 1em;
}

button:active {
transform: translateY(5px);
box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000038;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--red-);
    color: var(--white-);
    text-align: center;
    border-radius: 12px;
    padding: 16px 24px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
  
.toast.show {
    visibility: visible;
    opacity: 1;
}
  

